<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/" class="navbar-brand">Secret Santa 2.0</a>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right" ng-controller="logoutController">
      <li>
        <a ng-click="logout()">Выйти</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{UserName}}, привет!</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg">Стать Сантой</button>
  </div>
</div>