<div class="container">
  <div class="col-md-4">
    <h1>Вход</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="login()">
      <div class="form-group">
        <label>Пользователь</label>
        <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="disabled">Войти</button>
      </div>
    </form>
  </div>
</div>